.DS_Store

# Lectures/W1L1
Lectures/W1L2
Lectures/W2L1
Lectures/W2L2
Lectures/W3L1
Lectures/W3L2
Lectures/W4L1
Lectures/W4L2
Lectures/W5L1
Lectures/W5L2
Lectures/W6L1
Lectures/W6L2
Lectures/W7L1
Lectures/W7L2
Lectures/W8L1
Lectures/W8L2
Lectures/W9L1
Lectures/W9L2
Lectures/W10L1
Lectures/W10L2
Lectures/W11L1